
{% extends "UserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Authentification de l'utilisateur{% endblock %}

{% block stylesheets %}
    {# Appel du block stylesheets du layout général #}
    {{ parent() }}
    {# Ajout du fichier .css spécifique à la vue login.html.twig #}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block fos_user_content %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin form-horizontal" role="form" action="{{ path('fos_user_security_check') }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <div class="checkbox mb-3" style="margin-bottom:10px">
            <label>
                <input type="checkbox" value="remember-me" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        {# <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button> #}
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    
    </form>
 {% endblock fos_user_content %}
