{% extends "MailsAdminBundle::layout.html.twig" %}

{% block title %}
    Liste filtrée - Courriers envoyés par l'utilisateur "{{user.username}}"
{% endblock %}

{% block mailsadmin_body %}
<h2 class="text-center">Synthèse utilisateur</h2>
<div class="well">
    <ul>
        <li>Nom utilisateur : {{user.username}}</li>
        <li>Adresse e-mail : {{user.email}}</li>
    </ul>
</div>

<h2 class="text-center">Rappel critères de filtrage</h2>
<div class="well">
    <ul>
        <li>Nombre de jours d'ancienneté : {{ mail.nbDaysBefore }} jour(s) et plus</li>
        <li>Réception : {% if mail.received == true %}OUI{% else %}NON{% endif %}</li>
    </ul>
</div>

<h2 class="text-center">{{ block('title') }}</h2>

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="allMailsentFilterByUser">
        {% if allMailsentFilterByUser %}
        <div class="alert alert-success">La liste ci-dessous correspond au résultat de la recherche !</div>
        
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead align="center" valign="middle" bgcolor="#A9A9A9">
                    <tr>
                        <th>Reference</th>
                        <th>Objet</th>
                        <th>Date d'enregistrement</th>
                        <th>Date envoi</th>
                        <th>Nbre pièces j.</th>
                        <th>Acc. reception</th>
                        <th></th>  
                </thead>
                {% set fond = '#EFEFEF' %}
                {% for mailsentFilterByUser in allMailsentFilterByUser %}
                <tr bgcolor={{fond}} valign='top'>
                    <td><u><a href="{{ path('mails_mailsent_detail', {'id': mailsentFilterByUser.id}) }}">[{{ mailsentFilterByUser.reference}}]</a></u></td>
                    <td>{{ mailsentFilterByUser.objet }}</td>
                    <td>{{ mailsentFilterByUser.dateEdition.format('d/m/Y à H:i:s') }}</td>
                    <td>{{ mailsentFilterByUser.mailsent.dateEnvoi.format('d/m/Y à H:i:s') }}</td>
                    <td>{{ mailsentFilterByUser.nombrePiecesJointes}}</td>
                    <td>{% if mailsentFilterByUser.received == true %}OUI{% else %}NON{% endif %}</td>
                    <td>
                        <a href="{{ path('mails_mailsent_detail', {'id': mailsentFilterByUser.id}) }}" class="btn btn-info btn-xs" title="Detail"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('mails_mailsent_edit', {'id': mailsentFilterByUser.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#mailsentFilterByUserDialog{{ mailsentFilterByUser.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="mailsentFilterByUserDialog{{ mailsentFilterByUser.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this mail sent ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('mails_mailsent_delete', { 'id': mailsentFilterByUser.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucune donnée ne correspond à cette recherche !</div>
        {% endif %}
       
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('mails_mailsent_add') }}"><u>Enregistrer un nouveau courrier envoyé</u></a>
        {% endif %}
    </div>
</div>

   
{% endblock %}
