{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Liste des courriers du contact <strong>{{ actor.name | title }}</strong>{% endblock %}
{% block mailsmail_body %}

<h2 class="text-center">Synthèse contact</h2>
<div class="well">
    <ul>
        <li>Nom : {{actor.name}}</li>
    </ul>
</div>
<h1 class="text-center">{{ block('title') }}</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#allMailsentByActor" data-toggle="tab">Courriers Envoyés</a></li>
            <li><a href="#allMailreceivedByActor" data-toggle="tab">Courrier Reçus</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="allMailsentByActor">
        {{ include("@contact_mailsent_views/contact_mailsent.html.twig") }}
    </div>
    <div class="tab-pane fade adminTable" id="allMailreceivedByActor">
        {{ include("@contact_mailreceived_views/contact_mailreceived.html.twig") }}
    </div>   
</div>
{% endblock %}
