{% extends "MailsMailBundle::layout_admin.html.twig" %}

{% block title %}Interlocuteurs{% endblock %}

{% block mailsadmin_body %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
   Message flash : {{ flashMessage }}
</div>
{% endfor %} 

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="actors">
        {% if actors %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead align="center" valign="middle" bgcolor="#A9A9A9">
                    <tr>
                        <th>Nom</th>
                        <th></th>  
                    </tr>
                </thead>
                {% set fond = '#EFEFEF' %}
                {% for actor in actors %}
                <tr bgcolor={{fond}} valign='top'>
                    <td>{{ actor.name }}</td>
                    <td>
                        <a href="{{ path('mails_contact_edit', {'id': actor.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#actorDialog{{ actor.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="actorDialog{{ actor.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this actor ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('mails_contact_delete', { 'id': actor.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No actors found.</div>
        {% endif %}
        <a href="{{ path('mails_contact_add') }}"><u>Créer un nouvel interlocuteur</u></a>
    </div>
    
</div>
{% endblock %}
