{% extends "MailsMailBundle::layout_admin.html.twig" %}

{% block title %}Critères de recherche - Courriers envoyés{% endblock %}

{% block mailsadmin_body %}
<h1 class="text-center encadrer">{{ block('title') }}</h1>
<div class="well">
    
    {{ form_start(form, {'method': 'post', 'action': path('mails_mailsent_filter'), 'attr': {'class': 'form-horizontal'}}) }}
      
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <p>
    
            <div class="form-group">
                {{ form_label(form.nbDaysBefore, "Nombre de jours d'ancienneté :", { 'label_attr':  {'class': 'col-sm-4 control-label'}}) }}
            
                <div class="col-sm-6">
                    {{ form_errors(form.nbDaysBefore) }}
                    {{ form_widget(form.nbDaysBefore, {'attr': {'class': 'form-control', 
                    'placeholder' : 'Entrer le nombre de jours d\'ancienneté recherché',
                    'min':0,'max':100
                    }}
                    ) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.received, "Réception :", { 'label_attr':  {'class': 'col-sm-4 control-label'}}) }}
            
                <div class="col-sm-1">
                    {{ form_errors(form.received) }}
                    {{ form_widget(form.received, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    {{ form_widget(form.rechercher, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}

        </p>

    {{ form_end(form) }}
    
</div>
{% if app.user and is_granted('ROLE_ADMIN') %}
<p>
    <a class="souligne" href="{{ path('mails_mailsent_add') }}">Créer un nouveau courrier envoyé</a>
</p>
{% endif %}
{% endblock %}
