<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {#<link type="text/css" href="{{ asset('lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet"></link>
        <link type="text/css" href="{{ asset('lib/bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet"></link>#}
        <link type="text/css" href="{{ asset('css/mymails.css') }}" rel="stylesheet"></link> 
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
         {# Toujours utiliser le format minifié du css bootstrap via les cdn #}
    {% endblock %}
    <title>MyMail - {% block title %}{% endblock %}</title>
    <style>
			.dropdown-submenu{position:relative;}
			.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
			.dropdown-submenu:hover>.dropdown-menu{display:block;}/*Fait sortir le sous-menu au passage du curseur*/
			.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}/*Fait sortir le triangle*/
			{# .dropdown-submenu.pull-left{float:none;} #}
            {# .dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;} #}
			
            .souligne{text-decoration: underline;}
            .detail{color: gray}
            .taille_label{font-size: 1em;}
            .taille_infos{font-size: medium;}
            mark{background: #FFFF00;}
            a[title]:visited{color: white;}
            h1{font-size: 2.5em;background-color:#DBDBDB;clear:both;}
            .resize{width:60%}
            .clear{clear : both; visibility: hidden}
            .encadrer{border: 3px gray outset;border-radius: 10px;}
            {# .encadrer_subtitle{border: 3px gray intset;border-radius: 10px;} #}
            {# .encadrer_section{border: 3px gray double;border-radius: 10px;} #}
            a:active /* Quand le visiteur clique sur le lien */{background-color: #FFCC66;}
            .flexbox{
                {# border: 3px fuchsia solid;  #}
                display:flex; 
                flex-direction:column;
                justify-content:space-between;
                max-height:620px;
                min-height:620px;
                {# align-items: stretch; #}
                }
            .bordure_content{flex:1}
            {# .bordure_content{border: 3px blue solid;flex:1;} #}
            {# .bordure_footer{border: 3px lime solid;} #}
            .left_space{margin-left:2px}
            .right_space{margin-right:2px}
            {# #new_table td, #new_table th{border:1px solid black;text-align:center} #}

	</style>

</head>
<body>
    <div class="container flexbox">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
             <header>
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('mails_core_home') }}">MyMail</a>
                </div>
             </header>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('mails_core_contact') }}"><span class="glyphicon glyphicon-envelope"></span> Nous contacter</a></li>
                        {#Si l'utilisteur est authentifié #}
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('mails_core_workspace_admin') }}"><span class="glyphicon glyphicon-check"></span> Mon espace de travail</a></li>
                            {% endif %}
                            {% if app.user and is_granted('ROLE_SECRETAIRE') %}
                                <li><a href="{{ path('mails_core_workspace_secretary') }}"><span class="glyphicon glyphicon-check"></span> Mon espace de travail</a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Ma liste de courriers<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('mails_mail_mailsent') }}">Envoyés</a></li>
                                        <li><a href="{{ path('mails_mail_mailreceived') }}">Reçus</a></li>
                                    </ul>
                            </li>
                        {#{% endif %}
                        Si l'utilisteur est authentifié 
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}#}
                            {#Si l'utilisteur est authentifié en tant qu'administrateur#}
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                {% if app.user.company != null %}
                                    <li class="dropdown">
                                    <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Ajouter un courrier<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('mails_mailsent_add') }}">Envoyé</a></li>
                                            <li><a href="{{ path('mails_mailreceived_add') }}">Reçu</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                    <li class="dropdown">
                                    <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Administration<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            {% if app.user.company != null %}
                                                <li><a href="{{ path('mails_user_mailsent') }}">Courriers envoyés</a></li>
                                                <li><a href="{{ path('mails_user_mailreceived') }}">Courriers reçus</a></li>
                                                <li><a href="{{ path('mails_contact_show_all') }}">Contacts</a></li>
                                                <li><a href="{{ path('mails_user_show_all') }}">Utilisateurs</a></li>
                                            {% endif %}
                                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                                <li class="dropdown-submenu">
                                                    <a data-toggle="dropdown" tabindex="-1" href="#"></span>Entreprise</a>
                                                {% if app.user.company == null %}
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('mails_core_company') }}"></span>Enregistrement</a></li>
                                                    </ul>
                                                {% else %}
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('mails_core_company_infos') }}"></span>Informations</a></li>
                                                    </ul>
                                                {% endif %}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                            {% elseif app.user and is_granted('ROLE_SECRETAIRE') %}{#Si l'utilisteur est authentifié en tant que sécrétaire#}
                                    <li class="dropdown">
                                    <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Espace utilisateur<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('fos_user_profile_show') }}">Voir le profil</a></li>
                                            <li><a href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a></li>
                                            <li><a href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a></li>
                                        </ul>
                                    </li>
                            {% endif %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Welcome, <strong>{{ app.user.username | title }}</strong> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}{#Si l'utilisteur n'est pas authentifié #}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {# <div class="menu-button" id="menu-button"><img class="icone responsive-menu" src="images/icons/responsive-menu.svg" alt="Icone menu" /> <p>Menu</p></div> #}
            </div>
            </div><!-- /.container -->
        </nav>
        <div id="content" class="bordure_content">
            {#{{ include("MailsCoreBundle:Home:arborescence.html.twig") }}#}
            {{ include("MailsCoreBundle:Home:connexion.html.twig") }}
            {% block body %}{% endblock %}
        </div>
        <footer class="footer bordure_footer">
            <p><strong>MyMail</strong> est construit avec PHP, Symfony, Twig, Doctrine et Bootstrap. 
            Copyright <em>Fiderlet</em> - Tous droits réservés</p>
        </footer>
    </div>
    
    {% block javascripts %}
       <!-- jQuery -->
        {#<script type="text/javascript" src="{{ asset('lib/jquery/jquery-3.1.1.js') }}"></script>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- JavaScript Boostrap plugin -->
        {#<script type="text/javascript" src="{{ asset('lib/bootstrap/js/bootstrap.js') }}"></script>#}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
