{% extends "MailsMailBundle::layout_admin.html.twig" %}
{#On defini le contact depuis la session#}
{% set actor = app.session.get('contact') %}
{% block title %}Liste filtrée - Courriers envoyés par le contact <b><i>{{ actor.name | title }}</i></b>{% endblock %}
{#On defini nos variables depuis la session#}
{% set allMailreceivedFilterByActor, mail = app.session.get('allMailreceivedFilterByActor'), app.session.get('mail')%}

{% block mailsadmin_body %}
<h2 class="text-center">Synthèse du contact</h2>
<div class="well">
    <ul>
        <li>Nom du contact : {{actor.name}}</li>
    </ul>
</div>

<h2 class="text-center">Rappel critères de filtrage</h2>
<div class="well">
    <ul>
        <li>Nombre de jours d'ancienneté : {{ mail.nbDaysBefore }} jour(s) et plus</li>
        <li>Réception : {% if mail.received == true %}OUI{% else %}NON{% endif %}</li>
    </ul>
</div>

<h2 class="text-center">{{ block('title') }}</h2>

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="allMailreceivedFilterByActor">
        {{ include("@contact_mailsent_filter_result_views/bl_mailsent_filter_contact_result.html.twig") }}
    </div>
</div>
{% endblock %}
