{% if allMailreceivedFilterByActor %}
        <div class="alert alert-success">La liste ci-dessous correspond au résultat de la recherche !</div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead align="center" valign="middle" bgcolor="#A9A9A9">
                    <tr>
                        <th>Reference</th><th>Objet</th><th>Date d'enregistrement</th><th>Date reception</th><th>Nbre pièces j.</th>
                        <th>Acc. reception</th><th>Traitement</th><th></th>   
                    </tr>
                </thead>
                {% set fond = '#EFEFEF' %}
                {% for mailreceivedFilterByActor in allMailreceivedFilterByActor %}
                <tr bgcolor={{fond}} valign='top'>
                    <td><u><a href="{{ path('mails_mailreceived_detail', {'id': mailreceivedFilterByActor.id}) }}">[{{ mailreceivedFilterByActor.reference}}]</a></u></td>
                    <td>{{ mailreceivedFilterByActor.objet }}</td>
                    <td>{% if mailreceivedFilterByActor.dateEdition is not null %}{{ mailreceivedFilterByActor.dateEdition.format('d/m/Y à H:i:s') }}{% endif %}
                    </td>
                    <td>{{ mailreceivedFilterByActor.mailreceived.dateReception.format('d/m/Y à H:i:s') }}
                    {% if mailreceivedFilterByActor.mailreceived.dateEnvoi is defined %}{{ mailreceivedFilterByActor.mailreceived.dateEnvoi.format('d/m/Y à H:i:s') }}
                    {% endif %}</td>
                    <td>{{ mailreceivedFilterByActor.nombrePiecesJointes}}</td>
                    <td>{% if mailreceivedFilterByActor.received == true %}OUI{% else %}NON{% endif %}</td>
                    <td>{% if mailreceivedFilterByActor.treated == true %}OUI{% else %}NON{% endif %}</td>
                    <td>
                    {{ render(controller("MailsCoreBundle:Home:manageMails",{'editRoute': 'mails_mailreceived_edit','detailRoute': 'mails_mailreceived_detail',
                        'deleteRoute': 'mails_mailreceived_delete','id': mailreceivedFilterByActor.id,'var': mailreceivedFilterByActor,'type': 'mail received',
                    }))}}
                    </td>
                </tr>
               {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
               {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucune donnée ne correspond à cette recherche !</div>
        {% endif %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('mails_mailsent_add') }}"><u>Créer un nouveau courrier envoyé</u></a> 
        {% endif %}