{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block mailsmail_body %}

{% if app.user and is_granted('ROLE_ADMIN') %}
  {#{% if nombreTotalPages > 4 %}#}
  <div class="navbar-right">
  <a href="{{ path('mails_mailreceived_filter') }}"><u>Filtrer la liste</u></a>
  &nbsp;<b>|</b>&nbsp;
  <a href="{{ path('mails_all_mailreceived_filter') }}"><u>Filtrer toute la liste</u></a>
  </div>
  {#{% endif %}#}
{% endif %}

 {% if app.user and is_granted('ROLE_SECRETAIRE') %}
 <h2>Liste des courriers reçus à enregistrer par <b><i>{{ app.user.username | title }}</i></b></h2>
 {% elseif app.user and is_granted('ROLE_ADMIN') %}
 <h2>Liste des courriers reçus à valider par <b><i>{{ app.user.username | title }}</i></b></h2>
 {% else %}
 <h2>Liste de tous les courriers reçus et enregistrés</h2>
 {% endif %}

  {{ include("MailsMailBundle:Mail:bl_index_mailreceived.html.twig") }}

     <ul class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombreTotalPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('mails_mail_mailreceived', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
     </ul>
{% endblock %}

