{% extends "MailsMailBundle::layout_admin.html.twig" %}

{% block title %}Liste filtrée - Courriers reçus par l'utilisateur "{{user.username}}"{% endblock %}

{% block mailsadmin_body %}
<h2 class="text-center">Synthèse utilisateur</h2>
<div class="well">
    <ul>
        <li>Nom utilisateur : {{user.username}}</li>
        <li>Adresse e-mail : {{user.email}}</li>
    </ul>
</div>

<h2 class="text-center">Rappel critères de filtrage</h2>
<div class="well">
    <ul>
        <li>Nombre de jours d'ancienneté : {{ mail.nbDaysBefore }} jour(s) et plus</li>
        <li>Réception : {% if mail.received == true %}OUI{% else %}NON{% endif %}</li>
        <li>Traitement : {% if mail.treated == true %}OUI{% else %}NON{% endif %}</li>
    </ul>
</div>

<h2 class="text-center">{{ block('title') }}</h2>

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="allMailreceivedFilterByUser">
        {{ include("MailsMailBundle:Mail:bl_user_mailreceived_filter_result.html.twig") }}
    </div>
</div>
{% endblock %}
