{% if allMailreceivedFilterByUser %}
    <div class="alert alert-success">La liste ci-dessous correspond au résultat de la recherche !</div>

    <div class="table-responsive">
    {{ include("@user_mailreceived_filter_result_views/table_user_mailreceived_filter_result.html.twig") }}
    </div>
    
{% else %}
    <div class="alert alert-warning">Aucune donnée ne correspond à cette recherche !</div>
{% endif %}
   
{% if app.user and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('mails_mailreceived_add') }}"><u>Créer un nouveau courrier reçu</u></a>
    | <a href="{{ path('mails_user_all_mails', {'id': user.id}) }}"><u>Retour à la liste des courriers de l'utilisateur <b><i>{{user.username}}</i></b></u></a>
    | <a href="{{ path('mails_core_home') }}"><u>Accueil</u></a>
{% endif %}
