{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block mailsmail_body %}

{% if app.user and is_granted('ROLE_ADMIN') %}
  {#{% if nombreTotalPages > 4 %}#}
  <div>
    <a class="souligne" href="{{ path('mails_mailreceived_filter') }}">Filtrer la liste</a>
    &nbsp;|&nbsp;
    <a class="souligne" href="{{ path('mails_all_mailreceived_filter_user') }}">Filtrer toute la liste</a>
  </div>
  {#{% endif %}#}
{% endif %}

 {% if app.user and is_granted('ROLE_SECRETAIRE') %}
 <h1>Liste des courriers reçus à enregistrer par <em>{{ app.user.username | title }}</em></h1>
 {% endif %}
 {% if app.user and is_granted('ROLE_ADMIN') %}
 <h1>Liste des courriers reçus à valider par <em>{{ app.user.username | title }}</em></h1>
 {% endif %}

  {{ include("@mailreceived_index_views/bl_index_mailreceived_user.html.twig") }}

     <ul class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nombreTotalPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('mails_mail_mailreceived', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
     </ul>
{% endblock %}

