{% if mails %}
  {% for mail in mails %}
            <h2><a class="souligne" href="{{ path('mails_mailsent_detail', {'id': mail.id}) }}">{{ mail.objet }}</a></h2>
            <p>Date d'envoi : <em>le {{ mail.mailsent.dateEnvoi|date('d/m/Y à H:i:s') }}</em></p>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <mark>
                        <a class="souligne" href="{{ path('mails_mailsent_validation', {'id': mail.id}) }}">Valider le courrier</a>
                    </mark>
                {% endif %}
                {% if app.user and is_granted('ROLE_SECRETAIRE') %}
                    <mark> 
                        <a class="souligne" href="{{ path('mails_mailsent_registration', {'id': mail.id}) }}">Enregistrer le courrier</a>
                    </mark>
                {% endif %}     
    {% endfor %}   
{% else %}
        <div class="alert alert-warning">Vous n'avez aucun courrier envoyé à enregistrer</div>
{% endif %}
