{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block mailsmail_body %}

{% if app.user and is_granted('ROLE_ADMIN') %}
    {#{% if nbPages > 4 %}#}
  <div>
  <a class="souligne" href="{{ path('mails_mailsent_filter') }}">Filtrer la liste</a>
  &nbsp;|&nbsp;
  <a class="souligne" href="{{ path('mails_all_mailsent_filter') }}">Filtrer toute la liste</a>
  </div>
  {#{% endif %}#}
{% endif %}
 
{% if app.user and is_granted('ROLE_SECRETAIRE') %}
 <h1>Liste des courriers envoyés à enregistrer par <em>{{ app.user.username | title }}</em></h1>
{% endif %}
{% if app.user and is_granted('ROLE_ADMIN') %}
 <h1>Liste des courriers envoyés à valider par <em>{{ app.user.username | title }}</em></h1>
{% endif %}

    {{ include("@mailsent_index_views/bl_index_mailsent_user.html.twig") }}

    <ul class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('mails_mail_mailsent', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
