[<a class="souligne" href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}"><font color={{couleur}}>{{ mailSentByActor.reference}}</font></a>]
<a class="souligne" href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}">{{ mailSentByActor.objet }}</a>
{% if mailSentByActor.dateEdition is not null %}
,<span class="taille_label"> Date édition :</span> <span class="taille_infos">{{ mailSentByActor.dateEdition.format('d/m/Y à H:i:s') }}</span>,
{% endif %}
{% if mailSentByActor.mailsent.dateEnvoi is not null %}
<span class="taille_label"> Date d'envoi :</span> <span class="taille_infos">{{ mailSentByActor.mailsent.dateEnvoi.format('d/m/Y à H:i:s') }}</span>
{% endif %}
,<span class="taille_label"> Nombre de pièces jointes :</span> <span class="taille_infos">{{ mailSentByActor.nombrePiecesJointes}}</span>
<br/><span class="taille_label"> Accusé de reception :</span> <span class="taille_infos">{% if mailSentByActor.received == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Expéditeur :</span> <span class="taille_infos"><strong>{{ mailSentByActor.mailsent.user.username}}</strong></span>
,<span class="taille_label"> Destinataire :</span> <span class="taille_infos"><strong>{{ mailSentByActor.mailsent.actor.name}}</strong></span>
,<span class="taille_label"> Enregistrement :</span> <span class="taille_infos">{% if mailSentByActor.registred == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Validation :</span> <span class="taille_infos">{% if mailSentByActor.validated == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Nom secretaire :</span> <span class="taille_infos"><strong>{{ mailSentByActor.secretaire.username}}</strong></span>
