<b>[</b><a href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}"><font color={{couleur}}><u>{{ mailSentByActor.reference}}</u></font></a><b>]</b>
<b><u><a href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}">{{ mailSentByActor.objet }}</a></u></b>
{% if mailSentByActor.dateEdition is not null %}
,<font size="2px"> Date édition :</font> <font size="3px">{{ mailSentByActor.dateEdition.format('d/m/Y à H:i:s') }}</font>,
{% endif %}
{% if mailSentByActor.mailsent.dateEnvoi is not null %}
<font size="2px"> Date d'envoi :</font> <font size="3px">{{ mailSentByActor.mailsent.dateEnvoi.format('d/m/Y à H:i:s') }}</font>
{% endif %}
,<font size="2px"> Nombre de pièces jointes :</font> <font size="3px">{{ mailSentByActor.nombrePiecesJointes}}</font>
<br/><font size="2px"> Accusé de reception :</font> <font size="3px">{% if mailSentByActor.received == true %}OUI{% else %}NON{% endif %}</font>
,<font size="2px"> Expéditeur :</font> <font size="3px"><i><b>{{ mailSentByActor.mailsent.user.username}}</b></i></font>
,<font size="2px"> Destinataire :</font> <font size="3px"><i><b>{{ mailSentByActor.mailsent.actor.name}}</b></i></font>
,<font size="2px"> Enregistrement :</font> <font size="3px">{% if mailSentByActor.registred == true %}OUI{% else %}NON{% endif %}</font>
,<font size="2px"> Validation :</font> <font size="3px">{% if mailSentByActor.validated == true %}OUI{% else %}NON{% endif %}</font>
,<font size="2px"> Visa secretaire:</font> <font size="3px"><i><b>{{ mailSentByActor.visaSecretaire}}</b></i></font>