{# On affiche tous les messages flash dont le nom est « success » #}
{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">Message flash : {{ message }}</div>
{% endfor %}

  <h2>Courriers envoyés non validés</h2>

    {% if listMailsentNotValidated %}
    <div class="alert alert-info">Vous avez un ou plusieurs courriers envoyés à valider</div>
    
    <ul class="nav nav-pills nav-stacked">
        {% for mailsentNotValidated in listMailsentNotValidated %}
            <p>
                <a class="souligne" href="{{ path('mails_mailsent_detail', {'id': mailsentNotValidated.id}) }}">
                    {{ mailsentNotValidated.objet }}
                </a>
                <mark>
                  <a class="souligne" href="{{ path('mails_mailsent_validation', {'id': mailsentNotValidated.id}) }}">
                    Valider le courrier
                 </a>
                 </mark>
            </p>
         {% endfor %}  
         
         <a class="souligne" href="{{ path('mails_mail_mailsent') }}">Voir plus</a>
     </ul>   
     {% else %}
        <div class="alert alert-warning">Vous n'avez aucun courrier envoyé à valider</div>
     {% endif %}
  
  <h2>Courriers reçus non validés</h2>

     {% if listMailreceivedNotValidated %}
     <div class="alert alert-info">Vous avez un ou plusieurs courriers reçus à valider</div>
     
     <ul class="nav nav-pills nav-stacked">
        {% for mailreceivedNotValidated in listMailreceivedNotValidated %}
            <p>
                <a class="souligne" href="{{ path('mails_mailreceived_detail', {'id': mailreceivedNotValidated.id}) }}">
                    {{ mailreceivedNotValidated.objet }}
                </a>
                <mark>
                    <a class="souligne" href="{{ path('mails_mailreceived_validation', {'id': mailreceivedNotValidated.id}) }}">
                       Valider le courrier
                    </a>
                </mark>
            </p>
        {% endfor %}
        <a class="souligne" href="{{ path('mails_mail_mailreceived') }}">Voir plus</a>
     </ul>   
     {% else %}
       <div class="alert alert-warning">Vous n'avez aucun courrier reçu à valider</div>
{% endif %}
