{# On affiche tous les messages flash dont le nom est « success » #}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">Message flash : {{ message }}</div>
    {% endfor %}
    
  <h2>Courriers envoyés</h2>

    {% if listMailsentBySecretary %}
    <div class="alert alert-info">Vous avez un ou plusieurs courriers envoyés à enregistrer</div>
    
    <ul class="nav nav-pills nav-stacked">
        {% for mailsentBySecretary in listMailsentBySecretary %}
            <p>
                <a class="souligne" href="{{ path('mails_mailsent_detail', {'id': mailsentBySecretary.id}) }}">
                    {{ mailsentBySecretary.objet }}
                </a>
                <mark>
                        <a class="souligne" href="{{ path('mails_mailsent_registration', {'id': mailsentBySecretary.id}) }}">
                            Enregistrer le courrier
                        </a>
                 </mark>

            </p>
         {% endfor %}  
         <a class="souligne" href="{{ path('mails_mail_mailsent') }}">Voir plus</a>
     </ul>   
     {% else %}
        <div class="alert alert-warning">Vous n'avez aucun courrier envoyé à enregistrer</div>
     {% endif %}
  
  <h2>Courriers reçus</h2>

     {% if listMailreceivedBySecretary %}
     <div class="alert alert-info">Vous avez un ou plusieurs courriers reçus à enregistrer</div>
     
     <ul class="nav nav-pills nav-stacked">
        {% for mailreceivedBySecretary in listMailreceivedBySecretary %}
            <p>
                <a class="souligne" href="{{ path('mails_mailreceived_detail', {'id': mailreceivedBySecretary.id}) }}">
                    {{ mailreceivedBySecretary.objet }}
                </a>
                <mark> 
                    <a class="souligne" href="{{ path('mails_mailreceived_registration', {'id': mailreceivedBySecretary.id}) }}">
                       Enregistrer le courrier
                    </a>
                </mark>
            </p>
        {% endfor %}
        <a class="souligne" href="{{ path('mails_mail_mailreceived') }}">Voir plus</a>
     </ul>   
     {% else %}
        <div class="alert alert-warning">Vous n'avez aucun courrier reçus à enregistrer</div>
     {% endif %}

     
   
