{% if allMailsentFilterByUser %}
    <div class="alert alert-success">La liste ci-dessous correspond au résultat de la recherche !</div>

    <div class="table-responsive">
        {{ include("@user_mailsent_filter_result_views/table_user_mailsent_filter_result.html.twig") }}
    </div>
{% else %}
    <div class="alert alert-warning">Aucune donnée ne correspond à cette recherche !</div>
{% endif %}
       
{% if app.user and is_granted('ROLE_ADMIN') %}
    <a class="souligne" href="{{ path('mails_mailsent_add') }}">Créer un nouveau courrier envoyé</a>
    | <a class="souligne" href="{{ path('mails_user_all_mails', {'id': user.id}) }}">Retour à la liste des courriers de l'utilisateur <em>{{user.username}}</em></a>
    | <a class="souligne" href="{{ path('mails_core_home') }}">Accueil</a>
{% endif %}
