<tr align="right" valign="middle" bgcolor="#C0C0C0">
      <td colspan="2">
        {% if app.user and is_granted('ROLE_ADMIN') %}
          {% if mail.registred == true and mail.validated != true %}
            {% if mail.mailreceived.user == app.user %}
              <a class="souligne" href="{{ path('mails_mailreceived_validation', {'id': mail.id}) }}">Valider le courrier</a>&nbsp;|&nbsp;
            {% endif %}
          {% endif %}
          <a class="souligne" href="{{ path('mails_mailreceived_add') }}">Ajouter</a>&nbsp;|&nbsp;
          {% if mail.mailreceived.user == app.user %}
            <a class="souligne" href="{{ path('mails_mailreceived_edit', {'id': mail.id}) }}">Modifier</a>&nbsp;|&nbsp;
            <a class="souligne" href="{{ path('mails_mailreceived_delete', { 'id': mail.id }) }}">Supprimer</a>&nbsp;|&nbsp;
          {% endif %}
        {% endif %}

        {% if app.user and is_granted('ROLE_SECRETAIRE') %}
          {% if mail.registred != true %}
            <a class="souligne" href="{{ path('mails_mailreceived_registration', {'id': mail.id}) }}">Enregistrer le courrier</a>&nbsp;|&nbsp;
          {% endif %}
        {% endif %}
                          
        {% if app.user and is_granted('ROLE_ADMIN') %}<a class="souligne" href="{{ path('mails_user_mailreceived') }}">Retour</a>&nbsp;|&nbsp;{% endif %}
        <a class="souligne" href="{{ path('mails_core_home') }}">Accueil</a>&nbsp;&nbsp;
      </td>
</tr>
