<tr>
  <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Référence</span>&nbsp;&nbsp;</td>
  <td align="left" bgcolor="#EBEBEB" width=60%>&nbsp;&nbsp;{{ mail.reference }}</td>
</tr>
<tr>
  <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Objet</span>&nbsp;&nbsp;</td>
  <td align="left" bgcolor="#EBEBEB" width=60%>&nbsp;&nbsp;{{ mail.objet }}</td>
</tr>
<tr>
   <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Date d'enregistrement</span>&nbsp;&nbsp;</td>
   <td align="left" bgcolor="#EBEBEB" width=60%>{% if mail.dateEdition is not null %}&nbsp;&nbsp;{{ mail.dateEdition|date('d/m/Y à H:i:s') }}{% endif %}</td>
</tr>
<tr>
   <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Date de reception</span>&nbsp;&nbsp;</td>
   <td align="left" bgcolor="#EBEBEB" width=60%>{% if mail.mailreceived.dateReception is not null %}&nbsp;&nbsp;{{ mail.mailreceived.dateReception|date('d/m/Y à H:i:s') }}{% endif %}</td>
</tr>
<tr>
   <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Nombre de pièces jointes</span>&nbsp;&nbsp;</td>
   <td align="left" bgcolor="#EBEBEB" width=60%>&nbsp;&nbsp;{{ mail.nombrePiecesJointes }}</td>
</tr>
<tr>
   <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Accusé de reception</span>&nbsp;&nbsp;</td>
   <td align="left" bgcolor="#EBEBEB" width=60%>&nbsp;&nbsp;{% if mail.received == true %}OUI{% else %}NON{% endif %}</td>
</tr>
<tr>
   <td align="right" bgcolor="#DEDEDE" width=40%><span class="detail">Traitement</span>&nbsp;&nbsp;</td>
   <td align="left" bgcolor="#EBEBEB" width=60%>&nbsp;&nbsp;{% if mail.treated == true %}OUI{% else %}NON{% endif %}</td>
</tr>
{{ include("@mailreceived_detail_views/info2_view_mailreceived.html.twig") }}
