<tr bgcolor={{fond}} valign='top'>
      <td><a class="souligne" href="{{ path('mails_mailreceived_detail', {'id': mailreceivedFilterByActor.id}) }}">[{{ mailreceivedFilterByActor.reference}}]</a></td>
      <td>{{ mailreceivedFilterByActor.objet }}</td>
      <td>{% if mailreceivedFilterByActor.dateEdition is not null %}{{ mailreceivedFilterByActor.dateEdition.format('d/m/Y à H:i:s') }}{% endif %}</td>
      <td>{{ mailreceivedFilterByActor.mailreceived.dateReception.format('d/m/Y à H:i:s') }}
      {% if mailreceivedFilterByActor.mailreceived.dateEnvoi is defined %}{{ mailreceivedFilterByActor.mailreceived.dateEnvoi.format('d/m/Y à H:i:s') }}{% endif %}</td>
      <td>{{ mailreceivedFilterByActor.nombrePiecesJointes}}</td>
      <td>{% if mailreceivedFilterByActor.received == true %}OUI{% else %}NON{% endif %}</td>
      <td>{% if mailreceivedFilterByActor.treated == true %}OUI{% else %}NON{% endif %}</td>
      <td>
      {{ render(controller("MailsCoreBundle:Home:manageMails",{'editRoute': 'mails_mailreceived_edit','detailRoute': 'mails_mailreceived_detail',
      'deleteRoute': 'mails_mailreceived_delete','id': mailreceivedFilterByActor.id,'var': mailreceivedFilterByActor,'type': 'mail received',
      }))}}
      </td>
</tr>
