{% extends "MailsCoreBundle::layout_contact.html.twig" %}
{% block title "Contact" %}
{% block contact_body %}

    <h1>Contactez-nous</h1>
    <div class="well">
        {{ form_start(contact, {'attr': {'class': 'form-horizontal'}}) }}
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(contact) }}
            <div class="form-group">
                <div class="col-sm-6">
                    {{ form_errors(contact.email) }}
                    {{ form_widget(contact.email, { 'attr':{'placeholder': 'Email' }}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    {{ form_errors(contact.subject) }}
                    {{ form_widget(contact.subject, { 'attr':{'placeholder': 'Sujet' }}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    {{ form_errors(contact.content) }}
                    {{ form_widget(contact.content, { 'attr':{'placeholder': 'Contenu'}}) }}
                </div>
            </div>
            <input type="submit" value="Envoyez"/>
            {{ form_rest(contact) }}
        {{ form_end(contact) }}
    </div>
{% endblock %}
