{% extends "MailsCoreBundle::layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {{ include("MailsCoreBundle:Home:connexion.html.twig") }} 
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}
    
    {% if app.user and is_granted("ROLE_SECRETAIRE") %}
        <h1>Page d'accueil des sécrétaires</h1>
        <h2>Liste des courriers à enregistrer par <i>{{ app.user.username | title }}</i></h2>
        <hr>
        {{ render(controller("MailsMailBundle:Mail:showLatestUnregistredMailToSecretary", {'limit': 3})) }}
    {% elseif app.user and is_granted("ROLE_ADMINISTRATEUR") %}
        <h1>Page d'accueil des administrateurs</h1>
        <h2>Liste des courriers à valider par <i>{{ app.user.username | title }}</i></h2>
        <hr>
        {{ render(controller("MailsMailBundle:Mail:showLatestNotValidatedMailByUser", {'limit': 3})) }}
    {% elseif app.user and is_granted("ROLE_SUPER_ADMIN") %}
        <h1>Page d'accueil des modérateurs</h1>
        <h2>Liste des courriers à valider par <i>{{ app.user.username | title }}</i></h2>
        <hr>
        {{ render(controller("MailsMailBundle:Mail:showLatestNotValidatedMailByUser", {'limit': 3})) }}
    {% else %}
    <h1>Page d'accueil de l'application</h1>
    <h2>Liste des derniers courriers crées</h2>
        {{ render(controller("MailsMailBundle:Mail:showLatestMail", {'limit': 3})) }}
    {% endif %}
{% endblock %}