{% extends "UserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Modifier le mot de passe{% endblock %}

{% block fos_user_content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.current_password, "Mot de passe actuel * :", { 'label_attr':  {'class': 'col-sm-4 control-label'}}) }}
      
        <div class="col-sm-6">
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr':  {
            'class': 'form-control',
            'placeholder' : 'Entrer votre mot de passe actuel'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.plainPassword.first, "Nouveau mot de passe * :", { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr':  {
                'class': 'form-control',
                'placeholder' : 'Entrer votre nouveau mot de passe'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.plainPassword.second, "Répéter nouveau mot de passe * :", { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr':  {
                'class': 'form-control',
                'placeholder' : 'Répéter votre nouveau mot de passe'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>

    {{ form_rest(form) }}
</form>
</div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('mails_user_show_all') }}"><u>Retour au tableau de bord</u></a>&nbsp;<b>|</b>&nbsp;
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('mails_core_home') }}"><u>Accueil</u></a>
    {% endif %}

{% endblock fos_user_content %}
