{% extends "MailsAdminBundle::layout.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block mailsadmin_body %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
   Message flash : {{ flashMessage }}
</div>
{% endfor %}

<div class="tab-pane fade in active adminTable" id="users">
        <!-- TODO : insérer ici le code de gestion des utilisateurs -->
        
            {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead align="center" valign="middle" bgcolor="#A9A9A9">
                    <tr>
                        <th>Name</th>
                        <th>Profil</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% set fond = '#EFEFEF' %}
                {% for user in users %}
                <tr bgcolor={{fond}} valign='top'>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_SECRETAIRE' %}
                                {{ 'Sécrétaire' }}
                            {% endif %}
                            {% if role == 'ROLE_ADMINISTRATEUR' %}
                                {{ 'Administrateur' }}
                            {% endif %}
                            {% if role == 'ROLE_SUPER_ADMIN' %}
                                {{ 'Modérateur' }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user == app.user %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info btn-xs" title="Modifier profile"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-info btn-xs" title="Modifier mot de passe"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        {% endif %}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_SECRETAIRE' %}
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                            {% endif %}
                        {% endfor %}
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_SUPER_ADMIN' %}
                             {% for role in user.roles %}
                                {% if role == 'ROLE_ADMINISTRATEUR' %}
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                {% endif %}
                             {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this user ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('mails_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No users found.</div>
        {% endif %}
        <a href="{{ path('fos_user_registration_register') }}"><u>Créer un nouvel utilisateur</u></a>
        
    </div>
{% endblock %}
