{% extends "MailsMailBundle::layout_admin.html.twig" %}
{% block title %}Courriers reçus{% endblock %}
{% block mailsadmin_body %}

<h1 class="text-center encadrer">{{ block('title') }}</h1>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success"> {{ flashMessage }}</div>
{% endfor %}

<p style="float:right">
<a class="souligne" href="{{ path('mails_mailreceived_filter') }}">Filtrer les courriers reçus</a> 
</p>

<div style="clear:both">
        {{ include('@admin_user_mailreceived_views/bl_user_mailreceived.html.twig') }}
</div>

<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('mails_user_mailreceived', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
</ul>

{% if app.user and is_granted('ROLE_ADMIN') %}
  <p>
    <a class="souligne" href="{{ path('mails_mailreceived_add') }}">Créer un nouveau courrier reçu</a>
  </p>
  {% endif %}
{% endblock %}
