{% extends "MailsMailBundle::layout_admin.html.twig" %}

{% block title %}Courriers envoyés{% endblock %}

{% block mailsadmin_body %}

<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
   Message flash : {{ flashMessage }}
</div>
{% endfor %}

<a href="{{ path('mails_mailsent_filter') }}">
<u>Filtrer les courriers envoyés</u>
</a> 

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="mailsSentByActor">
        {% if mailsSentByActor %}
    
            {% set couleur = 'red' %}
                {% for mailSentByActor in mailsSentByActor %}
                    <article>
                        <b>[</b><a href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}"><font color={{couleur}}><u>{{ mailSentByActor.reference}}</u></font></a><b>]</b>
                        <b><u><a href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}">{{ mailSentByActor.objet }}</a></u></b>
                        {% if mailSentByActor.mailsent.dateEdition is defined %}
                        ,<font size="2px"> Date édition :</font> <font size="3px">{{ mailSentByActor.dateEdition.format('d/m/Y à H:i:s') }}</font>
                        {% endif %}
                        <p>
                            {% if mailSentByActor.mailsent.dateEnvoi is not null %}
                            <font size="2px"> Date d'envoi :</font> <font size="3px">{{ mailSentByActor.mailsent.dateEnvoi.format('d/m/Y à H:i:s') }}</font>
                            {% endif %}
                            ,<font size="2px"> Nombre de pièces jointes :</font> <font size="3px">{{ mailSentByActor.nombrePiecesJointes}}</font>
                            ,<font size="2px"> Accusé de reception :</font> <font size="3px">{% if mailSentByActor.received == true %}OUI{% else %}NON{% endif %}</font>
                        <br/><font size="2px"> Expéditeur :</font> <font size="3px"><i><b>{{ mailSentByActor.mailsent.user.username}}</b></i></font>
                            ,<font size="2px"> Destinataire :</font> <font size="3px"><i><b>{{ mailSentByActor.mailsent.actor.name}}</b></i></font>
                            ,<font size="2px"> Enregistrement :</font> <font size="3px">{% if mailSentByActor.registred == true %}OUI{% else %}NON{% endif %}</font>
                            ,<font size="2px"> Validation :</font> <font size="3px">{% if mailSentByActor.validated == true %}OUI{% else %}NON{% endif %}</font>
                            ,<font size="2px"> Visa secretaire:</font> <font size="3px"><i><b>{{ mailSentByActor.visaSecretaire}}</b></i></font>
                        
                        <p>
                        <a href="{{ path('mails_mailsent_detail', {'id': mailSentByActor.id}) }}" class="btn btn-info btn-xs" title="Detail"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="{{ path('mails_mailsent_edit', {'id': mailSentByActor.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#mailSentByActorDialog{{ mailSentByActor.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="mailSentByActorDialog{{ mailSentByActor.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this mail sent ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('mails_mailsent_delete', { 'id': mailSentByActor.id }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        </p>
                        ........................................................................................................
                        </p>
                    </article>
                {% if couleur == 'red' %}{% set couleur = 'blue' %}{% else %}{% set couleur = 'orange' %}{% endif %}   
                {% endfor %}
        
        {% else %}
        <div class="alert alert-warning">No mail sent found.</div>
        {% endif %}
       
        {% if app.user and is_granted('ROLE_ADMIN') %}
       <a href="{{ path('mails_mailsent_add') }}"><u>Créer un nouveau courrier envoyé</u></a>
     {% endif %}
    </div>
</div>

<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('mails_user_mailsent', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

   
{% endblock %}
