<tr bgcolor={{fond}} valign='top'>
  <td><u><a href="{{ path('mails_mailsent_detail', {'id': mailReceivedByActor.id}) }}">[{{ mailReceivedByActor.reference}}]</a></u></td>
  <td>{{ mailReceivedByActor.objet }}</td>
  <td>{% if mailReceivedByActor.dateEdition is not null %}{{ mailReceivedByActor.dateEdition.format('d/m/Y à H:i:s') }}{% endif %}</td>
  <td>{% if mailReceivedByActor.mailsent.dateEnvoi is defined %}{{ mailReceivedByActor.mailsent.dateEnvoi.format('d/m/Y à H:i:s') }}{% endif %}</td>
  <td>{{ mailReceivedByActor.nombrePiecesJointes}}</td>
  <td>{% if mailReceivedByActor.received == true %}OUI{% else %}NON{% endif %}</td>
  <td>{% if mailReceivedByActor.treated == true %}OUI{% else %}NON{% endif %}</td>
  <td>
  {{ render(controller("MailsCoreBundle:Home:manageMails",{'editRoute': 'mails_mailsent_edit','detailRoute': 'mails_mailsent_detail',
      'deleteRoute': 'mails_mailsent_delete','id': mailReceivedByActor.id,'var': mailReceivedByActor,'type': 'mail received',}))}}
  </td>
</tr>